
/*Buch hinzufuegen Button */

.createButton {
    background-color: #05792b;
    color: #ffffff;
    border-radius: 10px;
}

    .createButton:hover {
        background-color: #04521d;
        color: #ffffff;
    }

.createButtonContainer {
    padding-block: 16px;
}



/*Formular buttons*/

.editButton {
    background-color: transparent;
    border-radius: 10px;
    border-color: #ff6a00;
    color: #ff6a00;
}

    .editButton:hover {
        background-color: #ff6a00;
        border-color: black;
        color: #000000
    }

.detailsButton {
    background-color: transparent;
    border-radius: 10px;
    border-color: #0099fe;
    color: #0099fe;
}

    .detailsButton:hover {
        background-color: #0099fe;
        border-color: black;
        color: #000000
    }

.deleteButton {
    background-color: transparent;
    border-radius: 10px;
    border-color: #ff0000;
    color: #ff0000;
}

    .deleteButton:hover {
        background-color: #ff0000;
        border-color: black;
        color: #000000;
    }
